
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>关于我们</title>
    <link type="text/css" rel="stylesheet" href="/Content/css/index.css" />
    <script type="text/javascript" src="/Scripts/js/jquery-1.6.4.min.js"></script>
</head>
<body>
    <div class="content">
        <div class="banner_bg_a banner_bg">
            @Html.Partial("public_nav")
        </div>


        <div class="about_us main">
            <h1 class="ft30">成都悦动力网络科技有限责任公司</h1>
            <img src="~/Content/images/rule.png" alt="" />
            <p class="ft18">成都悦动力网络科技有限公司成立于2015年9月，注册资本500万元。公司是一家专注于运动管理的移动互联网高新技术企业。公司秉承“唤起运动激情，享受健康快乐”的理念，力争做领先的新时代运动管理服务商。</p>
            <p class="ft18">公司产品 - “活动”</p>
            <span class="ft18">致力于打造一个便捷的运动交友社区，能够让更多运动爱好者高效预定场地，享受运动快乐，分享运动乐趣。</span>
            <span class="ft18">公司产品 - “赛事”</span>
            <span class="ft18">基于移动互联网的赛事执行，可以让专业赛事更具观赏性，让业余赛事执行便捷轻松。</span>
            <span class="ft18">公司产品 - “运动成长”</span>
            <span class="ft18">便于用户保存运动结果，统计自己的技术参数，打造用户贴身的助理教练，让自己技术进步，回味运动乐趣。</span>
            <span class="ft18">公司产品 - “运动学院”</span>
            <span class="ft18">互联网式教学平台，帮助人们找到合适的运动教练，成为教练们最佳的舞台。</span>
            <p class="ft18">公司真诚希望与运动场馆，广大教练，社会有知识之士和热爱运动的人们共同打造一个运动生态环境，以唤起更多人的运动激情</p>
        </div>

        @Html.Partial("public")
    </div>
</body>
</html>