@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>民心教练</title>
    <link type="text/css" rel="stylesheet" href="/Content/css/index.css" />
    <script type="text/javascript" src="/Scripts/js/jquery-1.6.4.min.js"></script>
</head>
<body>
    <div class="content">
        <div class="banner_bg_b banner_bg">
            @Html.Partial("public_nav")
        </div>

        <div class="teach main">
            <ul>
                <li>
                    <img src="~/Content/images/Coaching_head_a.png" alt="" class="fl" />
                    <div>
                        <h1 class="ft28 fl">冯辛</h1><span class="ft18 fl">教龄：8年</span>
                        <p style="font-size: 18px;">国家业余健将，原成都市队训练，任教八年富有丰富教学经验，曾多次培养几名小队员并输送到集训队，不同的学生有着不同的教学方式，教学能提高学生兴趣，培养学生技术，让学生增强自信，快速达到提高。</p>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/Coaching_head_b.png" alt="" class="fl" />
                    <div>
                        <h1 class="ft28 fl">桂宇晨</h1><span class="ft18 fl">教龄：5年</span>
                        <p style="font-size: 18px;">早期在新疆维吾尔自治区乌鲁木齐市市队打球，并且在09年获乌鲁木齐晚报杯团体第二名成绩 随后考入郑州大学，并开始教学工作。在郑大内部比赛中获得第三名成绩。在大学杯比赛中获得团体第三名成绩，前后教学五年之久，具有一定的教学经验，亲和力强，喜欢小朋友。</p>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/Coaching_head_c.png" alt="" class="fl" />
                    <div>
                        <h1 class="ft28 fl">罗力豪</h1><span class="ft18 fl">教龄：2年</span>
                        <p style="font-size: 18px;">毕业于成都体育学院运动训练系乒乓球专业，国家二级运动员、国家一级乒乓球裁判员、国家三级篮球裁判员。在成都职业工业技术学院担任体育老师，有丰富的教学经验和良好的沟通能力，曾获得"季度校内最受学生喜欢的教师。"</p>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/Coaching_head_d.png" alt="" class="fl" />
                    <div>
                        <h1 class="ft28 fl">王印 </h1><span class="ft18 fl">教龄：5年</span>
                        <p style="font-size: 18px;">从事多年乒乓球训练，有丰富的教学经验。擅长少儿、成人培训，因人施教。能快速提高乒乓球技术。</p>
                    </div>
                </li>
            </ul>
        </div>

        @Html.Partial("public")
    </div>
</body>
</html>