@using YDL.Model;
@using YDL.Core;
@using YDL.Utility;
@model List<EntityBase>

@{
    ViewBag.Title = "一场对阵详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{

}

@section Body{
<div style="width:400px;margin:0 auto;">
    
</div>

}