@using YDL.Web;
@using YDL.Model;
@model MenuInfo

@{
    ViewBag.Title = "产品";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section Keywords
{
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
}
@section Style{
    <style type="text/css">
    </style>
}
@section featured {
    <!-- banner -->
    <div class="bannerImg2" style="background: url('/Content/imgs/WebSite/banner/banner_product.jpg') no-repeat center;"></div>
    <div style="height:2220px;">
        <div style="height:520px;background: url('/Content/imgs/WebSite/product/mainbg.png') no-repeat center 0;background-color:#f8f8f8;"></div>
        <div style="height:758px;background: url('/Content/imgs/WebSite/product/mainbg.png') no-repeat center 0;background-color:#f1f1f1;background-position-y:-520px;"></div>
        <div style="height:918px;background: url('/Content/imgs/WebSite/product/mainbg.png') no-repeat center 0;background-color:#fff;background-position-y:-1278px;"></div>
    </div>
}

@section scripts{
    <script type="text/javascript">

    </script>
}