html,body
{
    
    padding:0;
    margin:0;
    /*
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    */
}
body
{
    width:100%;
    background:#fafcff url(../imgs/default/bg2.png) no-repeat scroll center top;
 
}

html,head,body,table,th,td,form,input,select,textarea,ul,li,p {
    margin:0;
    padding:0;
    text-align:left;
    font:12px/1.125 Tahoma,Arial, Helvetica, sans-serif;
}
ul{list-style:none;}
a,img{border:none;text-decoration:none;}
textarea{resize:none;}
.clr{clear:both;}
.vmd{vertical-align:middle;}

s
{
    width:0px;
    border-left:solid #ddd 1px;
    overflow:hidden;
}

.body
{
    width:890px;
    margin:0px auto 0px auto;

    
}
.nobreak
{
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.break
{
    word-break:break-all;
    white-space:normal;
}
.button
{
    background:url(../imgs/default/buttons.png) repeat-x scroll;
}
.pworkbtn{width:29px;height:28px;background-position:0px -152px;}
.preportbtn{width:29px;height:28px;background-position:-33px -152px;}
.pauditbtn{width:29px;height:28px;background-position:-67px -152px;}
.pnoticebtn{width:32px!important;height:28px;background-position:-101px -150px;}
.newinterunit{width:32px;height:32px;background-position:0px -200px;}
.exportexcel{width:32px;height:32px;background-position:-103px -200px;}
.import{width:32px;height:32px;background-position:0px -342px;}
.bigsetting{width:33px;height:32px;background-position:-49px -200px;}
.attention{width:32px;height:32px;background-position:-166px -200px;}
.dattention{width:32px;height:32px;background-position:-291px -200px;}
.editinterunit{width:32px;height:32px;background-position:-208px -200px;}
.delinterunit{width:32px;height:32px;background-position:-249px -200px;}
.interdetail{width:32px;height:32px;background-position:0px -243px;}
.bigremind{width:32px;height:32px;background-position:-259px -297px;}
.linkmanc{width:32px;height:32px;background-position:-50px -243px;}
.linkman{width:32px;height:32px;background-position:-103px -243px;}
.close{width:28px;height:28px;background-position:-141px -247px;}
.close1{width:10px;height:10px;background-position:-186px -246px;}
.close2{width:10px;height:10px;background-position:-201px -246px;}
.attach{width:28px;height:33px;background-position:-299px -296px;}
.coemail{width:28px;height:33px;background-position:-44px -345px;}
.dealing{width:32px;height:32px;background-position:-296px -239px;}
.icon1
{
    background:url(../imgs/default/inco1.png) no-repeat scroll 0px 0px;
}
.downcursor{width:27px;height:14px;background-position:-192px -33px;}
.upcursor{width:27px;height:18px;background-position:-58px -0px;}
.tel{width:15px;height:15px;background-position:-229px -33px;}
.qq{width:15px;height:15px;background-position:-255px -32px;}
.employeeout{width:19px;height:19px;background-position:-396px -27px;display:inline-block;}
.employeeedit{width:19px;height:19px;background-position:-424px -27px;display:inline-block;}
.employedel{width:19px;height:19px;background-position:-451px -27px;display:inline-block;}
.setemppwd{width:19px;height:19px;background-position:0px -50px;display:inline-block;}
.addopr{width:19px;height:19px;background-position:-23px -50px;display:inline-block;}
.delopr{width:19px;height:19px;background-position:-47px -50px;display:inline-block;}
.graytrack{width:16px;height:16px;background-position:-193px -52px;display:inline-block}
.graytip{width:14px;height:14px;background-position:-220px -55px;display:inline-block}
.chat{width:14px;height:14px;background-position:-289px -56px;display:inline-block}
.item-delbtn
{
    height:10px;
    width:10px;
    background-position:-136px -28px;
}
.icobtn
{
     background:url(../imgs/default/icon.png) no-repeat 0px 0px;
     width:16px;
     height:16px;
}
.red
{
    color:Red !important;    
}
.redborder{border:solid 1px red;}

/*图标*/
.icon-add
{
    background-position:-2262px -33px;  
}
.icon-delete
{
    background-position:-1371px -33px;  
}
.icon-sort
{
    background-position:-2295px -33px;  
}
.icon-refresh
{
    background-position:-1305px -33px;  
}
.icon-setting
{
    background-position:-1536px -33px;  
}
.icon-edit
{
    background-position:-1602px -33px;  
}
.icon-more
{
background-position:-251px -41px;  
}
/**/
.center
{
    text-align:center;    
}
.left
{
    text-align:left;    
}
.right
{
    text-align:right;    
}
/**/
.width-30{width:30px;}
.width-50{width:50px;}
.width-60{width:60px;}
.width-80{width:80px;}
.width-100{width:100px;}
.width-120{width:120px;}
.width-150{width:150px;}
.width-auto{width:auto;}
.width-40{width:40px;}
.width-180{width:180px;}
.width-200{width:200px;}
.width-300{width:300px;}
.display-no{display:none!important;}

.button-55,.button-save,.button-close
{
    color: #fff;
    border:none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 77px;
}
.button-save
{
    background-position:-148px -149px;
}
.input-text
{
    height:22px;
    line-height:24px;
    width:160px;   
    border:1px solid #CCCCCC; 
}

.tabbar
{
    height:35px;
    line-height:35px;
    background-color:#f3f3f3;
    border-bottom:solid 1px #e6e6e8;
    position:relative;
    overflow:visible;
}
.tabitem
{
    display:inline-block;
    width:60px;
    height:25px;
    line-height:25px;
    text-align:center;
    margin-left:5px;
    cursor:pointer;
    color:#414040;
    border-radius:5px;

}

.tabitem:hover,.acttabitem
{
    position:relative;
    height:25px;
    background-color:#2a529a;
    color:#fff;
}
.textbox
{
    height:18px;
    line-height:18px;
    border:solid 1px #e0e0e0;
    padding-right:0px;
    color:#414040;
    padding:4px 0px 4px 3px;
    
}

.txt
{
    width:100%;
    height:25px;
    line-height:25px;
    border:none;
    border:solid 1px #e0e0e0;
    color:#535353;
}


.crmlabel,.disabledlabel
{
    display:inline-block;
    padding:5px;
    color:#323232;
    text-decoration:none;
    background-color:#f5f5f5;
    margin-right:3px;
    margin-bottom:5px;
    cursor:pointer;
    line-height:normal!important;
    vertical-align:middle;
    outline:none;
}
.disabledlabel{cursor:default;background-color:#f5f5f5;color:#ddd;}
.actcrmlabel
{
    background-color:#305aa6;
    color:#fff;
}

/*名片的样式*/
.name-card
{
    width:250px;
    background-color:#fff;
    border:solid 1px #e6e6e8;
    display:inline-block;
    overflow:hidden;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
    vertical-align:top;
    border-radius:3px;
    
}
.name-card-phototd,.name-card-photo{width:60px;height:60px;}
.name-card-item{line-height:22px;color:#323232;}
.name-card-item a{color:#323232;}
.name-card-item a:hover{color:red;}
.name-card-item-title{margin-right:3px;display:inline-block;}
.name-card-post{font-size:12px;color:#323232;margin-left:5px;}
.name-card-corp{line-height:25px;color:#a0a0a0;font-size:13px;margin-left:5px;}
.name-card-corp a{color:#a0a0a0;}
.name-card-corp a:hover{color:red!important;}

.name-card-name:hover{color:red;}
.namecard-funcs{height:20px;}
.namecard-funcs a{color:#000fff!important;margin-right:5px;display:none;}
.name-card:hover .namecard-funcs  a{display:inline;}
/*公共的提示消息样式*/
.tip 
{
    min-height:30px;
    line-height:30px;
    background: #f7f7f7;
    color: #727171; 
    padding-left:5px;
}
.input-tip
{
    height:30px;
    line-height:30px;
    position:absolute;
    font-size:14px;
    left:3px;
    color:#aaa;
    z-index:0;
}

.loading
{
    height:30px;
    line-height:30px;
    background-color:#f8f8f8;
    text-align:center;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select: none;
}
.loadanimation
{
    width:20px;
    height:20px;
    border:none;
    vertical-align:middle;
}
.loaddesc
{
    vertical-align:middle;
    margin-left:5px;
    font-size:14px;
    color:#505363;
}
.redborder
{
    border:solid 1px red;
}