@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="/Content/css/index.css" />
</head>
<body>
    <div class="footer">
        <div class="fl">
            <ul class="ft20">
                <li><a href="">精彩瞬间</a></li>
                <li><a href="">民心教练</a></li>
                <li><a href="">悦动赛事</a></li>
                <li><a href="">关于我们</a></li>
            </ul>
            <span class="ft16">联系电话：028-85144497  公司邮箱：cdydl.6-9@goto</span>
            <span class="ft16">公司地址：成都市高新区天府五街美年广场B座416号</span>
            <span class="ft16">公司邮箱：cdydl.6-9@gotopsports.com</span>
        </div>
        <div class="fr">
            <img src="~/Content/images/WeChat%20public%20number.png" alt="" />
        </div>
    </div>
    <div class="bottom ft16">Copyright   成都悦动力网络科技有限责任公司 1998-2017 版权所有 蜀ICP备16003234号-1</div>
</body>
</html>